extends layout

block content
    h1 #{title}

    form(method='POST' action='')
        div.form-group
            lab(for='first_name') First name:
            input#first_name.form-control(type='text', name='first_name' value=(undefined===author ? '' : author.first_name) required='true')
            la(for='family_name') Family name:
            input#family_name.form-control(type='text', name='family_name' value=(undefined === author ? '' : author.family_name) required='true')
            label(for='date_of_birth') Family name:
            input#date_of_birth.form-control(type='date', name='date_of_birth' value=(undefined === author ? '' : author.date_of_birth) required='true')
            label(for='date_of_death') Family name:
            input#date_of_death.form-control(type='date', name='date_of_death' value=(undefined === author ? '' : author.date_of_death))
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
                div.alert.alert-danger(style='margin-top:20px') #{error.msg}
